<header>
  <div>
    <div>
      <%= link_to '/', class: 'toppage' do %>
      <%= image_tag 'logo.png' %>
      <% end %>

      <div>
        <div>
          <ul>
            <li><%= current_user.last_name %> <%= current_user.first_name %></li>        
            <li><%= link_to t('header.user_edit'), edit_user_path(current_user) %></li>
            <li><%= link_to t('header.posts'), posts_path %></li>
            <li><%= button_to t('header.logout'), logout_path, method: :delete, data: { turbo_method: :delete } %></li>
            <li><%# @user を使わず、current_user で判定 %>
              <% if logged_in? && current_user.email != "test@example.com" %>
                <%= link_to t('header.user_destroy'), user_path(current_user), data: { turbo_method: :delete, turbo_confirm: t('header.user_destroy_confirmation') } %>
              <% end %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>