<div class="w-full max-w-3/4 m-auto text-left">
<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, t('.title') %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, t('.content') %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :image, t('.image') %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :images, t('.image') %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>