<div class="w-full max-w-3/4 m-auto text-left">
<h1><%= t('.index') %></h1>

<%= link_to t('posts.index.new'), new_post_path %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <td><%= l post.created_at, format: :short %></td><%= link_to post.title, post %>
    </li>
  <% end %>
</ul>
</div>