<div class="w-full max-w-3/4 m-auto text-left">
<h1><%= t('.index') %></h1>

<%= link_to t('posts.index.new'), new_post_path %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>

<%= form_with url: bulk_destroy_posts_path, method: :delete, local: true, data: { turbo_confirm: t('posts.index.bulk_destroy_confirmation') } do |f| %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= check_box_tag "post_ids[]", post.id, false, id: "post_#{post.id}" %><td><%= l post.created_at, format: :short %></td><%= link_to post.title, post %>
    </li>
  <% end %>
</ul>
  <%= submit_tag t('posts.index.bulk_destroy') , class: "btn btn-danger" %>
  <% end %>
</div>