<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>

<div class="w-full max-w-3/4 m-auto text-left">
<h1><%= @post.title %></h1>
<td><%= l @post.created_at %></td>
<p>
  <%= @post.content %>
  <% if @post.images.attached? %>
    <% @post.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [400, 400]) %>
    <% end %>
  <% end %>
</p>

<%= link_to t('.edit'), edit_post_path(@post) %> |
<%= button_to t('.destroy.destroy'), post_path(@post), method: :delete, data: { turbo_method: :delete } %> |
<%= link_to t('.index'), posts_path %>
  </div>